/******************************************
 ************* General Styling ************
 ******************************************/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/******************************************
 ******* Styles for the deck of cards *****
 ******************************************/

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #4717F6 0%, #A239CA 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #0E0B16;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform 1s ease;
}

img {
    visibility: hidden;
    width: 75%;
}

.deck .card.open {
    transform: rotateY(0);
    cursor: default;
}

.deck .card.show {
    background: #E7DFDD;
    font-size: 33px;
}
.deck .card.show img {
    visibility: visible;
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #E7DFDD;
    font-size: 33px;
}

/******************************************
 ******* Styles for the Score Panel *******
 ******************************************/

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    display:flex;
    justify-content: space-evenly;
}

.score-panel #stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel #stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/******************************************
 ************** Modal Styling *************
 ********** by Richard Middleton **********/

 .modal-bg {
    background-color: rgba(46, 61, 73, 0.5);
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    display:none; /*toggle between display:flex and display:none to see/hide modal*/
    justify-content: center;
    align-items:center;
 }

 .modal-content {
    height:250px;
    width:450px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

.modal-content p {
    font-size: 23px;
}

.modal-content .stars-modal {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.modal-content .stars-modal li {
    list-style: none;
    display: inline-block;
}

.modal-content .restart-modal {
    cursor: pointer;
}
